<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Registration form</h1>
<form action="insertion" method="POST" class="login_form">

  <div>College Name:</span><input type="text" name="college_name" value="" placeholder="Enter the Company name.." required /></div><br />
   <div>Reason:</span><input type="text" name="reason" value="" placeholder="Enter your name.." required /></div><br />
  <div>Mail id:</span><input type="email" name="mail_id" value="" placeholder="Enter the mail id.." required /></div><br />
   <div>Phone no.:</span><input type="text" name="phone_no" value="" placeholder="Enter the Phone no.." required /></div><br />
       <div>Tentative start date:</span><input type="date" name="t_start_date" min="1997-01-01" max="2030-12-31" value="" placeholder="Tentative start date" required /></div><br />
    <div>Tentative end date:</span><input type="date" name="t_end_date" min="1997-01-01" max="2030-12-31" value="" placeholder="Enter the Password.." required /></div><br />
    <div>No. of students:</span><input type="number" name="anos" min="1997-01-01" max="2030-12-31" value="" placeholder="Enter the Password.." required /></div><br />

 <div><button type="submit">Register</button></div>
</form>

</body>
</html>