<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Registration form</h1>
<form action="verification" method="POST" class="login_form">

  <div>Company Name:</span><input type="text" name="company_name" value="" placeholder="Enter the Company name.." required /></div><br />
   <div>UserName:</span><input type="text" name="user_name" value="" placeholder="Enter your name.." required /></div><br />
  <div>Mail id:</span><input type="text" name="mail_id" value="" placeholder="Enter the mail id.." required /></div><br />
   <div>Phone no.:</span><input type="text" name="phone_no" value="" placeholder="Enter the Phone no.." required /></div><br />
    <div>Password.:</span><input type="password" name="pass" value="" placeholder="Enter the Password.." required /></div><br />

 <div><button type="submit">Register</button></div>
</form>

</body>
</html>